@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color:#fff;
    line-height:1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
   
}

.slide { 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    width: 600px;
    background-color: rgba(255,255,255,0.8);
    color: #333;
    padding: 35px;
    opacity: 0;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}


.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: white;
    color:#333
}

@media(max-width: 500px) {
    .slide .content {
        bottom:-300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}

.slide:first-child {
    background: url('https://images.unsplash.com/photo-1622032493435-8bb0706ab31f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center top/cover;
}
.slide:nth-child(2) {
    background: url('https://images.unsplash.com/photo-1517439270744-8d9287c2f8f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=992&q=80') no-repeat center top/cover;
}
.slide:nth-child(3) {
    background: url('https://images.unsplash.com/photo-1602603889213-69cb31a64b0b?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8dG93SlpGc2twR2d8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60') no-repeat center top/cover;
}
.slide:nth-child(4) {
    background: url('https://images.unsplash.com/photo-1622338230708-4da147a84b5b?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8aG1lbnZRaFVteE18fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60') no-repeat center top/cover;
}
.slide:nth-child(5) {
    background: url('https://images.unsplash.com/photo-1622165359619-082378c5f2c9?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIyfFM0TUtMQXNCQjc0fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60') no-repeat center top/cover;
}
